#oke {
    box-shadow: 7px 4px 10px 0px grey;
}

.back-button {
    width: 10%;
}

.back-button:hover i {
    color: white !important;
}

.next-button {
    width: 20%;

}

.next-button:hover {
    color: rgb(255, 255, 255) !important;
}

.errors {
    color: red;
    
}