.bd-boss {
    background-image: url("https://www.vietnamairlines.com/~/media/Images/VNANew/Background/default-bg.jpg?mw=1300");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.boss-opc {
    background-color: rgba(255, 255, 255, 0.8);
}


.history-opc {
    background-color: rgba(255, 255, 255, 0.8);
}

.history-bg {
    background-image: url("https://www.vietnamairlines.com/~/media/Images/VNANew/Parallax/about-us/our-story/background/002_History_bg.jpg?mw=1300");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.brand-opc {
    background-color: rgba(255, 255, 255, 0.8);
}

.brand {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

.introduce {
    background-color: rgba(255, 255, 255, 0.6);

    position: absolute;
    top: 56%;
    left: 30%;
}