.endow-title {
    background: -webkit-linear-gradient(right, #9efffd, #081e4d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 300%;
}

.calendar {
    background-image: url("https://w.ladicdn.com/s1300x350/5c7362c6c417ab07e5196b05/dfcaerer-20220104083732.png");
    background-repeat: no-repeat;
    background-color: rgb(255, 220, 134);
    background-size: 100%;
}

.calendar th {
    background: -webkit-linear-gradient(right, #2f95d1, #55b7f8);
    color: white;
}

.item-enrow .card {
    font-size: 150%;
    color: white;
    background: -webkit-linear-gradient(right, #2f95d1, #55b7f8);
}

.item-enrow .card i {
    font-size: 200%;
}

.icon-endow {
    font-size: 400%;
    padding: 30px;
}