.terms-bg {
    background-image: url("https://www.vietnamairlines.com/~/media/Images/VNANew/Background/default-bg.jpg?mw=1300");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.terms-opc {
    background-color: rgba(255, 255, 255, 0.85);
}