.alo1{
    position: inherit;
    margin: 0% 0% 0% 7%;

}
.img-bg1{
    background-image: url('https://www.vietnamairlines.com/~/media/Covid-19-Banner/1903x564/antoantrainghiembay_1903x564.jpg');
}
.img-hover-zoom {
    overflow: hidden;
    padding: 0 0px 0 0;
  }
  
  .img-hover-zoom img {
    transition: transform 0.5s ease-out;
    /* transition: all 0.7s ease; transition: all 0.7s ease; */
  }
  .img-hover-zoom:hover img {
    transform: scale(1.1);
    /* transform: transform rotate(360deg); transform: rotate(360deg); */
  }
