.tab-header {
    background-color: lightgoldenrodyellow;
}

.title-header-flight {

    color: #005f6e;
}


.date-flight {
    width: 14.285%;
    border: 1px solid grey;
    background-color: #e4f7fa;
}


.carousel-prev {
    position: relative;
    top: -4.5vw;
    height: 4.5vw;
    background: #d8eff3;
    border: 1px solid grey;

}

.carousel-next {
    position: relative;
    top: -4.5vw;
    height: 4.5vw;
    background-color: #d8eff3;
    border: 1px solid grey;
}

.common {
    background-color: #048ba0;
    border: none;
    border-radius: 6px;
    width: 100%;
    padding: 5%;

}

.trader {
    background-color: rgb(212, 209, 28);
    border: none;
    border-radius: 6px;
    width: 100%;
    padding: 5%;

}

.card-title {
    background-color: rgb(233, 233, 233);
}